<div class="content-container">
	<nav class="landing-menu">
		<div class="menu-item">
			<span hx-get="/work" hx-push-url="true" hx-target=".page">Work</span>
		</div>
		<div class="menu-item">
			<span hx-get="/play" hx-push-url="true" hx-target=".page">Play</span>
		</div>
		<div class="menu-item">
			<span hx-get="/this-website" hx-push-url="true" hx-target=".page">This Website</span>
		</div>
		<div class="menu-item">
			<span hx-get="/my-interests" hx-push-url="true" hx-target=".page">My Interests</span>
		</div>
	</nav>
</div>
