[Unit]
Description=Cloudflare tunnel for ipa-website
After=network-online.target ipa-website.service
Wants=network-online.target ipa-website.service

[Service]
Type=simple
Restart=always
RestartSec=5
EnvironmentFile=/etc/default/ipa-tunnel
ExecStart=/usr/bin/cloudflared tunnel run --token ${TUNNEL_TOKEN}

[Install]
WantedBy=multi-user.target
