:root {
	--content-container-width: 500px;
	--page-top-bottom-padding: 50px;
	--fade-in-duration: 2s;
	--fade-in-delay: 0.5s;
	--pulse-border-frequency: 2s;
	--pulse-border-delay: 0s;
}
body {
	min-height: 100vh;
	margin: 0px;
}
p {
	font-family: "Libertinus Serif", system-ui;
	font-weight: 400;
	font-style: normal;
}
h1 {
	font-family: "Jacquard 24", system-ui;
	font-weight: 400;
	font-style: normal;
}
.page {
	align-content: center;
	height: calc(100vh - 2 * var(--page-top-bottom-padding));
	padding-top: var(--page-top-bottom-padding);
	padding-bottom: var(--page-top-bottom-padding);
	padding-left: 10vw;
	padding-right: 10vw;
}
.content-container {
	padding-left: 25px;
	padding-right: 25px;
}
.greeting {
	font-size: 4rem;
	text-align: center;
	animation-name: fade-in;
	animation-duration: var(--fade-in-duration);
	animation-fill-mode: both;
	animation-delay: var(--fade-in-duration);
}
.sub-greeting {
	align-content: center;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 25px;
	cursor:pointer;

	border-style: solid;
	border-width: 1px;
	border-color: transparent;

	animation-name: fade-in, pulse-border;
	animation-duration: var(--fade-in-duration), var(--pulse-border-frequency);
	animation-iteration-count: 1, infinite;
	animation-direction: normal, alternate;
	animation-fill-mode: both, none;
	animation-timing-function: ease, ease-in-out;
	animation-delay: 
		calc(var(--fade-in-duration) + 2 * var(--fade-in-delay)),
		calc(2 * var(--fade-in-duration) + 2 * var(--fade-in-delay) + var(--pulse-border-delay));
}
@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes pulse-border {
	from {
		border-color: transparent;
	}
	to {
		border-color: black;
	}
}
@media (min-width: 768px) {
	.page {
		padding-left: calc(50vw - var(--content-container-width) / 2);
		padding-right: calc(50vw - var(--content-container-width) / 2);
	}
}
